[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = git@github.com:tim-hub/hugo-beartheme-seo.git
[submodule "themes/hugo-beartheme-seo"]
	path = themes/hugo-beartheme-seo
	url = git@github.com:tim-hub/hugo-beartheme-seo.git
